.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather__inp {
    width: 30%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather__rslt {
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather__rslt_child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather__elem {
    width: 130px;
}

